.App{
  /* background-image: url('./images/background.png');   */
  background-color: #e6e6ff;
}

#logo{  
  text-align: center;  
}

#logo img{
  width: 10rem;
  height: 5rem;
  /* border-style : solid; */
  /* border-color: yellow; */
}

.Main{
  border-style: solid;  
}